*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
main{
   
    min-height: 100vh;
    background: linear-gradient(to right top,#65dfc9,#6c5bdb);
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.glass{
   background: rgb(56, 14, 14);
    min-height: 80vh;
    width: 70%;
    background: linear-gradient(to right bottom,rgba(223, 111, 111, 0.7),rgba(236, 184, 184, 0.3));
   backdrop-filter: blur(0.2rem);
   border-radius: 0.5rem;
   z-index: 2; 
}

.circle1,.circle2{
    height: 15rem;
  width: 15rem;
border-radius: 50%;
   background: linear-gradient(to right bottom,rgba(192, 147, 147, 0.7),rgba(206, 178, 178, 0.3));
position: absolute;

}
.circle1{
    top: 5%;
    right: 10%;
}

.circle2{
    bottom: 5%;
    left: 10%;
}
